/venv
sites/__pycache__/routes.cpython-37.pyc
__pycache__/__init__.cpython-37.pyc
__pycache__/datamodels.cpython-37.pyc
__pycache__/extensions.cpython-37.pyc
api/__pycache__/chat.cpython-37.pyc
api/__pycache__/messaging.cpython-37.pyc
api/__pycache__/nltk_utils.cpython-37.pyc
api/__pycache__/routes.cpython-37.pyc
GitHub-AccessKey.txt
__pycache__/__init__.cpython-37.pyc
__pycache__/__init__.cpython-37.pyc
__pycache__/datamodels.cpython-37.pyc
__pycache__/extensions.cpython-37.pyc
api/__pycache__/chat.cpython-37.pyc
api/__pycache__/messaging.cpython-37.pyc
api/__pycache__/nltk_utils.cpython-37.pyc
api/__pycache__/routes.cpython-37.pyc
instance/data.db
sites/__pycache__/routes.cpython-37.pyc
__pycache__/__init__.cpython-37.pyc
__pycache__/__init__.cpython-37.pyc
__pycache__/datamodels.cpython-37.pyc
__pycache__/extensions.cpython-37.pyc
api/__pycache__/chat.cpython-37.pyc
api/__pycache__/messaging.cpython-37.pyc
api/__pycache__/nltk_utils.cpython-37.pyc
api/__pycache__/routes.cpython-37.pyc
instance/data.db
sites/__pycache__/routes.cpython-37.pyc
